:root {
    --star-wars-yellow: #FFE81F;
    --star-wars-gray: #9ba0a8;
    --star-wars-orange: #ffab00;
    --star-wars-lightsaber-green: #2FF923;
    --primary-font: 'Nunito', sans-serif;
    --error-message-red: #FF0000;
  }

.delete-spot-container {
    background-color: black;
    width: 30rem;
    box-sizing: border-box;
    padding: 0 25px 25px 25px;
    gap: 20px;
    border-radius: 30px;
    border: 5px solid white;
}

.button {
    margin: auto;
    width: 180px;
    height: 50px;
    box-shadow: 2px 2px 2px white;
    background-color: var(--star-wars-yellow);
    font: var(--primary-font);
}

#delete-spot {
    background-color: darkred;
    color: white;
}

#keep-spot {
    background-color: darkgray;
    color: white;
}
