.button-container {
    display: flex;
    gap: 20px;
}

#update-button {
  margin: auto;
    width: 180px;
    height: 50px;
    box-shadow: 2px 2px 2px white;
    background-color: var(--star-wars-yellow);
    font: var(--primary-font);
    color: black;
}

#delete-button {
  margin: auto;
  width: 180px;
  height: 50px;
  box-shadow: 2px 2px 2px white;
  background-color: var(--star-wars-yellow);
  font: var(--primary-font);
  color: black;
}
