.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar .logo {
  width: 110px;
}

.search-box-container {
  display: flex;
  gap: 15px;
  border-radius: 35px;
  padding: 15px 20px;
  margin: auto;
  border: 0.5px solid gray;
  cursor: pointer;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
}

.border-right {
  display: flex;
  gap: 20px;
  border-right: 1px solid gray;
}

.circle-magnify-glass {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #ff385c;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magnify-glass {
  color: white;
}

.profile-container {
  position: relative;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: darkred
}

.user-menu-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "row1"
    "row2";
}

.three-links {
  display: flex;
  grid-area: row1;
  gap: 25px;
  align-items: center;
  justify-content: end;
}

.dropdown-menu {
  display: flex;
  position: absolute;
  height: 75px;
  width: 200px;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid black; /* Thin black border */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px; /* Add padding to make it a big box */
}

.dropdown-link {
  display: block;
  border: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  background-color: transparent; /* Ensure background is transparent */
}

.dropdown-link {
  display: flex;
  align-items: center;
  border: none;
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  background-color: transparent; /* Ensure background is transparent */
}

.dropdown-link:last-child {
  border-bottom: none; /* Remove border from last link */
}

.dropdown-link:hover {
  background-color: #f7f7f7;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Add space between buttons */
}


.hidden {
  display: none;
}
